*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(45deg, #3333FF ,#d919ff);
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 100vh;
}
.login-head{
    padding: 2.2rem 0;
}
.social-icons img{
    width: 2rem;
    padding: 0 .7rem;
}
.left{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 70%;
    align-items: center;
    background: #F8F5F5;
    border-radius: .8rem 0 0 .8rem;
}
.input-field{
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    margin: 1rem;
}

.right-img{
    background-image: url(../images/login.png);
    background-repeat: none;
    background-position: center;
    background-position-y: center;
    width: 115%;
    height: 70%;
    border-radius: 0 .8rem .8rem 0;
}
.right-img img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
input{
    padding: .8rem;
    margin: .5rem;
    font-size: 1.1rem;
    border-radius: .7rem;
    border: 3px solid rgba(61, 61, 61, 0.473);

}
.btn{
    font-size: .8rem;
    padding: 1rem;
    margin: .6rem;
    border: 2px solid white;
    background:  rgb(57, 214, 9);
    border-radius: 2rem;
}

.login-btn{
    font-family: poppins;
    color: green;
    font-size: 1rem;
    padding: 1rem 5rem;
    background: linear-gradient(to right,hsl(133, 95%, 49%), #06c9fa);
}
.login2-btn{
    margin: 2.4rem 0;
    color: rgba(225, 248, 227, 0.842);
    font-size: 1.4rem;
    padding: 1rem 0;
}

@media all and (max-width: 900px) {
    .hero{
        height: 100vh;
    }
    .right-img{
        display: none;
    }
}

@media all and (max-width: 700px) {
    .hero{
        height: 100vh;
        width: auto;
    }
    .right-img{
        display: none;
    }
    .left{
        padding: 0 3rem 3rem 3rem;
        border: 1px solid white;
        border-radius: 1rem;
    }
}