{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="content-section shadow" style="margin: 4vw 6vw; padding: 1vw 3vw;">
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="container-fluid shadow-sm p-4 mb-4">
                <h2>Account Details</h2>
                {{ form_account|crispy }}
            </div>

            <div class="container-fluid shadow-sm p-4 mb-4">
                <h2>Profile Picture</h2>
                {{ form_pic|crispy }}
            </div>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" value="submit">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}