{% extends "base.html" %}

{% block content %}
<style>
  #img_rounded{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;

  }
  #centred{
    text-align: center;
  }
</style>

<div class="content-section m-4 border-info">

    <div class="container p-4">
          <table class="table table-danger text-dark table-borderless">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Dept</th>
                <th scope="col">Role</th>
              </tr>
            </thead>

            <tbody>

              {% for employee in employees %}
              <tr>
                <td><div id="centred"><img class="img-rounded"  id="img_rounded" src="{{ employee.profile_personal.profile_img.url }}" alt="{{ employee.pk }}'s photo"></div></td>
                <td>{{ employee.profile_personal.user.first_name }} {{ employee.profile_personal.user.last_name }}</td>
                <td>{{ employee.profile_personal.user.email }}</td>
                <td>{{ employee.gender }}</td>
                <td>{{ employee.profile_personal.dept_details.dept }}</td>
                <td>{{ employee.profile_personal.dept_details.role }}</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
        
        {% for field in fields %}
          <li>{{field}}</li>
        {% endfor %}

    </div>
    
</div>

{% endblock %}