{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <style>
        .text-muted{
            color: rgba(128, 128, 128, 0.753);
            font-size: .8rem;
            padding-top: 1rem;
        }
        .login-btn{
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <div class="hero">
        <div class="left">
            <div class="login-head">
                <button class="btn login-btn">LOG IN</button>
            </div>
            <div class="social-icons">
                <img src="{% static 'images/instagram.png' %}"/>
                <img src="{% static 'images/facebook.png' %}"/>
                <img src="{% static 'images/twitter.png' %}"/>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="input-field">
                    <input type="text" id="userid" name="username" placeholder="Username" required>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <div class="check">
                    </form>
                </div>
                <p class="text-muted">Not registered yet? Create your free account <a href="/register" style="color: blue;"> here</a> </p>
                    <button class="btn login2-btn" type="submit">Login</button>
                </div>  
        </div>
        <div class="right-img">
        </div>
    </div>
</body>
</html>