{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
<style>
  .payslip {
    /* border: 5px solid black; */
    border-radius: 0.5rem;
    /* background: #000; */
    padding: 2rem;
  }
  #receipt-img img {
    width: 100%;
    object-fit: cover;
  }
  .btnAlign {
    width: 50%;
    padding: 2rem;
  }
  .no-record {
    padding: 2rem;
    margin: 2rem;
  }
  .btn a {
    color: blue;
  }
  .btn a:hover {
    color: #eee;
  }
</style>

{% if salary %}
<div class="btnAlign">
  <button class="btn btn-outline-primary" id="download">Print as pdf</button>
</div>

<div class="payslip container shadow p-4" id="payslip">
  <p>name: {{ user.first_name }} {{ user.last_name }}</p>
  <p>transaction id: {{ salary.transaction_id }}</p>
  <p>net salary: {{ salary.net_salary }}</p>
  <p>salary year: {{ salary.salary_year }}</p>
  <p>reimbursement date: {{ salary.reimbursement_date }}</p>

  <div id="receipt-img">
    <h4>Recipt</h4>
    <img src="{{ salary.receipt_img.url }}" alt="{{ user }}'s receipt" />
  </div>
</div>

{% else %}
<div class="no-record container shadow">
  <p>No record found!</p>
  <button class="btn btn-outline-primary">
    <a href="{% url 'home' %}#services">Go Back</a>
  </button>
</div>

{% endif %}

<script>
  window.onload = function () {
    document.getElementById("download").addEventListener("click", () => {
      const payslip = this.document.getElementById("payslip");
      var opt = {
        margin: 1,
        filename: "payslip.pdf",
        image: { type: "jpeg", quality: 0.98 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: "in", format: "letter", orientation: "portrait" },
      };
      html2pdf().from(payslip).set(opt).save();
    });
  };
</script>

{% endblock content %}
